.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    color: #f1f1f1;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .icons-cabecalho {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  
  .icons-cabecalho i {
    font-size: 20px;
    color: #f1f1f1;
  }
  
  .cabecalho .logo {
    height: 70px;
    padding-left: 100px;
  }
  
  .cabecalho .lista .itens-cabecalho {
    display: flex;
    gap: 40px;
    padding-right: 100px;
    align-items: center;
  }
  
  .item {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    position: relative;
    padding: 10px 0;
    border-bottom: solid #45373e;
  }
  
  .item.vermelho:hover {
    border-bottom: solid #e00b5b;
  }
  
  .item.amarelo:hover {
    border-bottom: solid #f5b04b;
  }
  
  .cabecalho .lista .itens-cabecalho .item {
    font-size: 18px;
  }
  
  .botao {
    padding: 15px 20px;
    background-color: #e00b5b;
    border-radius: 20px;
  }
  
  .botao:hover {
    padding: 15px 20px;
    background-color: #b9074c;
    border-radius: 20px;
  }