.hero {
  display: flex;
  align-items: center;
  padding: 200px 180px 20px 180px;
  font-family: "Poppins", sans-serif;
}

.hero .hero-titulo {
  font-family: "Roboto Slab", "Poppins";
  font-weight: 800;
  color: #f1f1f1;
  font-size: 50px;
  line-height: 1.1;
}

.hero .hero-subtitulo {
  font-family: "Roboto Slab", "Poppins";
  font-weight: 700;
  color: #8d9c9d;
  font-size: 40px;
  padding-top: 15px;
}

.hero .hero-texto {
  padding-top: 15px;
  font-size: 17px;
  line-height: 1.3;
  color: #f1f1f1;
  padding-right: 50px;
}

.hero .hero-img {
  height: 350px;
}

.seta {
  padding-top: 50px;
  position: relative;
  display: block;
  text-align: center;
  animation: flecha 0.7s infinite alternate ease-in-out;
}

.seta-img {
  height: 30px;
}

@keyframes flecha {
  0% {
    -webkit-transform: translateY(0);
    opacity: 0.4;
  }
  100% {
    -webkit-transform: translateY(0.4em);
    opacity: 0.9;
  }
}

@media (min-width: 2400px) {
  .hero {
    padding: 250px 600px 20px 600px;
  }

  .hero .hero-texto {
    font-size: 25px;
    padding-right: 100px;
  }

  .hero .hero-img {
    height: 450px;
  }
}

@media (min-width: 2000px) {
  .hero {
    padding: 220px 400px 20px 400px;
  }
}

@media (min-width: 1500px) {
  .hero {
    padding: 180px 250px 20px 250px;
  }

  .hero .hero-img {
    height: 400px;
  }

  .hero .hero-titulo {
    font-size: 60px;
  }

  .hero .hero-subtitulo {
    font-size: 50px;
  }

  .hero .hero-texto {
    font-size: 24px;
  }

  .seta-img {
    display: none;
  }
}

@media (max-width: 1499px) {
  .hero {
    padding: 160px 140px 10px 140px;
  }
}

@media (max-width: 1015px) {
  .hero {
    padding: 120px 100px 10px 100px;
    background-color: aqua;
  }
}

@media (max-width: 975px) {
  .hero {
    padding: 120px 90px 10px 90px;
  }
}

@media (max-width: 955px) {
  .hero {
    padding: 200px 50px 10px 50px;
  }
}

@media (max-width: 900px) {
  .hero {
    padding: 100px 50px 10px 50px;
  }
}

@media (max-width: 840px) {
  .hero {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 50px 40px 10px 40px;
  }
  .hero .hero-texto {
    padding-right: 0;
  }
  .hero img{
    padding-bottom: 30px;
  }
  #hero-img {
    height: 240px;
  }
  .seta {
    display: none;
  }
}

@media (max-width: 510px) {
  .hero {
    padding: 50px 30px 10px 30px;
  }
  .hero-info .hero-titulo {
    font-size: 35px;
  } 
  .hero-info .hero-subtitulo {
    font-size: 28px;
  }
  #hero-img {
    height: 200px;
  }
  .hero-info .hero-texto {
    font-size: 15px;
  }
}
